{% load static %}
    <!-- Banner Area Starts -->
    <section class="banner-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 px-0">
                    <div class="banner-bg"></div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="banner-text">
                        <h1> با ما هیچگاه در <span>راه</span> تنها نخواهید ماند</h1>
                        <p class="py-3">شما میتوانید با استفاده از خدمات امداد خودروی ما بهترین امداد رسانان و تعمیرکارن در اطراف خود را پیدا کنید.</p>
                        <a href="#" class="srcbtn secondary-btn">همین حالا بگرد<span class="flaticon-next"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->