{% load static %}
   <!-- Category Area Starts -->
   <section class="category-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top text-center">
                    <h2>بهترین متخصصان تعمیر خودرو در آبیک را در اینجا ببینید</h2>
                    <p class="text-font">متخصصانی از قسمت های مختلف در دسترس شما هستند</p>
                </div>
            </div>
        </div>
        
        <div class="row category">
            {% for user in users %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="text-center single-category">
                        <div class="rounded-circle overflow-hidden mx-auto" style="width: 100px; height: 100px;">
                            <img src="{{ user.profile_picture.url }}" alt="category" class="w-100 h-100 rounded-circle img-thumbnail">
                        </div>
                        <br>
                        <h4 class="category">متخصص : {{ user.full_name }}</h4>
                        <h5 class="black-text2">تخصص : {{ user.job_type }}</h5>
                        <h5 class="black-text2">تلفن : *********** </h5>
                        <h5 class="black-text2">آدرس : {{ user.city }}</h5>
                        <h5 class="black-text2">توضیحات : {{ user.description }}</h5>
                        <h5 class="black-text2">آخرین بازدید : {{ user.last_login }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>        
    </div>
</section>
<!-- Category Area End -->