{% load static %}
    <!-- Footer Area Starts -->
    <footer class="footer-area section-padding">
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-3">
                        <div class="single-widget-home mb-5 mb-lg-0">
                            <h3 class="mb-4">بهترین ها</h3>
                            <ul>
                                <li class="mb-2"><a href="#">امدادرسانان</a></li>
                                <li class="mb-2"><a href="#">تعمیرکاران</a></li>
                                <li class="mb-2"><a href="#">ارتباط با ما</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-5 offset-xl-1 col-lg-6">
                        <div class="single-widget-home mb-5 mb-lg-0">
                            <h3 class="mb-4">خبرنامه</h3>
                            <p class="mb-4"> به ما اعتماد کنید. ما برای شما پیشنهادهای ویژه و مفید را ارسال می کنیم</p>  
                            <form action="{% url 'home:newsletter' %}" method="post">
                                {% csrf_token %}
                                <input name="email" type="email" placeholder="ایمیل خود را وارد کنید" onfocus="this.placeholder = ''" onblur="this.placeholder = 'ایمیل خود را وارد کنید'" required>
                                <button type="submit" class="btn btn-light">ثبت ایمیل</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-3 offset-xl-1 col-lg-3">
                        <div class="single-widge-home">
                            <h3 class="mb-4">گالری تصاویر</h3>
                            <div class="feed">
                                <img src='{% static "home/assets/images/feed1.jpg" %}' alt="feed">
                                <img src='{% static "home/assets/images/feed2.jpg" %}' alt="feed">
                                <img src='{% static "home/assets/images/feed3.jpg" %}' alt="feed">
                                <img src='{% static "home/assets/images/feed4.jpg" %}' alt="feed">
                                <img src='{% static "home/assets/images/feed5.jpg" %}' alt="feed">
                                <img src='{% static "home/assets/images/feed6.jpg" %}' alt="feed">
                                <img src='{% static "home/assets/images/feed7.jpg" %}' alt="feed">
                                <img src='{% static "home/assets/images/feed8.jpg" %}' alt="feed">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://github.com/Abbas-moradi" target="_blank">Abbas moradi</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</span>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="social-icons">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->