{% load static %}
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
            <a href="index.html" class="navbar-brand">
                <h1 class="m-0 text-black"> امداد خودرو  </h1>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a href="#" class="nav-item nav-link">خانه</a>
                    <a href="#" class="nav-item nav-link">درباره ما</a>
                    <a href="" class="nav-item nav-link">تعمیرکاران</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" >صفحه ها</a>
                        <div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0" dir="rtl">
                            <a href="#" class="dropdown-item" dir="rtl">عضویت</a>

                            {% for cat in categories %}

                            <a href="#" class="dropdown-item" dir="rtl">{{ cat }}</a>
                            
                            {% endfor %}
                        </div>
                    </div>
                    <a href="#" class="nav-item nav-link">گالری</a>
                    <a href="#" class="nav-item nav-link">ارتباط با ما</a>
                </div>
                <a href="#" class="btn btn-warning rounded-pill px-3 d-none d-lg-block"> عضویت در سایت </a>
            </div>
        </nav>
        <!-- Navbar End -->
