{% load static %}
   <!-- Newsletter Area Starts -->
   <section class="newsletter-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top text-center">
                    <h2>دریافت اطلاعات مشاغل تازه وارد بصورت روزانه</h2>
                    <p>در خبرنامه ما مشترک شوید و کد تخفیف دریافت کنید</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form action="{% url 'home:newsletter' %}" method="post">
                    {% csrf_token %}
                    <input name="email" type="email" placeholder="جای ایمیل شما اینجاست" onfocus="this.placeholder = ''" onblur="this.placeholder = 'جای ایمیل شما اینجاست'" required>
                    <button type="submit" class="btn btn-light">اکنون مشترک شوید</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter Area End -->